﻿@{
    ViewBag.Title = "Hakkında";
}
<h2>@ViewBag.Title</h2><br />
<h3>@ViewBag.Message</h3>

<p>AHK’nin organizasyonu, minimum bürokrasi ve maksimum verimlilik sağlayabilmek üzere düz organizasyon ilkesine dayanmaktadır. Her bir ofis günlük faaliyetlerinde Ana Merkezden bağımsız çalışmaktadır. Pazarlama & Satış her bir ofis tarafından bağımsız olarak yürütülmektedir. Talepler ve liderler Ana Merkezde toplanmakta ve “BAŞLAMA” kararı orada alınmaktadır. İhaleler için Ana Merkezdeki ihale departmanı süreci kontrol ederek ya ihaleyi kendisi hazırlamakta ya da nihai onay kendisinde olacak şekilde bölgesel ofisine devretmektedir. Ana Merkez sözleşme müzakerelerinden sorumlu olup ana kalemler için sözleşme Tedariki Ana Merkez tarafından gerçekleştirilmektedir. Günlük malzemeler ya da küçük paketler için bölge ofisleri yetkilidir. Bütün doğrama, mobilya, metal ve kumaş üretimi Türkiye’de gerçekleşmektedir. Bu da bizim kalite ve maliyet kontrolünü sürdürebilmemizi sağlamaktadır. Acil bir teslimat ya da kurulum olmadığı sürece adı geçen malzemeler için üretimimizi Türkiye’de tutmayı tercih etmekteyiz. Mermer, Alçı Taşı, Döşeme ve Cam gibi malzemeler için ise bizlerle birçok projede işbirliği yapmış ve AHK’nin arkasında rahatça durabileceği beceri ve gerekli kaliteyi göstermiş olan bölgesel çözüm ortaklarımız ile çalışmaktayız. Proje yönetim ekipleri her zaman yerel personelden oluşmaktadır. Bütün PM ekibi üyeleri işe alınmadan önce sıkı bir değerlendirme sürecinden geçmekte ve sorumluluk verilmeden önce “iş başında” denenmektedir. AHK, dışarıdan alım yapmadan önce çalışanlarına yeni pozisyonlara geçiş yapma imkanı vererek şirketteki pozisyon ve sorumluluklarının artırılmasına büyük önem vermektedir. Dolayısıyla, dışarıdan alımlar genellikle alt seviyelerden başlamaktadır ve böylece yeni çalışanların büyük sorumluluklar almadan önce AHK kültürüne adapte olmaları sağlanmaktadır. AHK her zaman yerel iş gücü kaynaklarını tercih eder. Ancak, Müşterilerimize taahhüt ettiğimiz kaliteyi sürdürebilmek için her projede Ana Merkezden kalifiye bir teknik gözetim ekibini görevlendirmekteyiz. İş gücünün geri kalan kısmı yerel kaynaklardan sağlanmaktadır.



2016 itibariyle AHK’nın mimar, tasarımcı, teknisyen, idari personel ve fabrika çalışanları dahil olmak üzere toplam 500 personeli bulunmaktadır. Ayrıca UAE Dubai & Abu Dhabi’de 104 personel, Azerbaycan Bakü’de 30 personel direkt olarak istihdam edilmektedir.</p>
