﻿@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title</h2>


<address>
   <strong>TÜRKİYE - ISTANBUL<br /></strong> 
    MERKEZ OFİS<br />
    Süzer Plaza Elmadağ Askerocağı Cad. No:6 34367 Şişli, S2 Katı <br />
    İSTANBUL / TÜRKİYE<br /> <br />
    <strong> - ANTALYA<br /></strong>
    FABRİKA<br />
    Organize Sanayi Bölgesi 2. Kısım 24. Cd no:18 Döşemealtı <br />
    ANTALYA / TÜRKİYE<br />
    <abbr title="Phone">P:</abbr>
    T +90 242 258 00 50
    <br />
    
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ahk@ahk.com.tr">ahk@ahk.com.tr</a><br />
</address>