﻿@model Vidly.Models.urunTbl



<h3>Silmek istediğinize emin misiniz ?</h3>
<div>
    <h4>urunTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.musteriAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriAdı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aldigiUrun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aldigiUrun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiyat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri dön", "Index")
        </div>
    }
</div>
