﻿@model List<Vidly.Models.urunTbl>
<style>
</style>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead> <tr> <td><b>Müşterinin adı</b> </td> <td><b>Müşterinin Soyadı</b></td> <td><b>Açıklaması&nbsp&nbsp</b></td> <td><b>Aldığı Ürün</b></td><td><b>Fiyatı</b></td><td><b>Güncelle</b></td> <td><b>Sil</b></td></tr> </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.musteriAdı </td>
                    <td>@item.musteriSoyadi</td>
                    <td>@item.aldigiUrun</td>
                    <td>@item.adet</td>
                    <td>@item.fiyat</td>
                    <td>@Html.ActionLink("Güncelle", "Edit", new { id = item.id })</td>
                    <td>@Html.ActionLink("Sil", "Delete", new { id = item.id })</td>
                </tr>
                }
            </tbody>
        </table>
    </div> <div class="clearfix"></div> <br /><a href="/Home/Create" class="btn btn-primary btn-lg">Yeni Kayıt</a>
</div>
